@using DataRepository.Enums
@using DataRepository.Extensions
@model SocialCareProject.Areas.Administration.Models.CareRequestsListModel

@{
    Layout = "../Shared/_Layout.cshtml";
    @Scripts.Render("~/Scripts/app/administration/careRequests.js")
    ViewBag.Title = "Запити на необхідність догляду";
}

<div id="requestsList">
    <div class="form-grey">
        @Html.Partial("_Filter")
    </div>
    <div class="">
        <div class="body-lightgrey">
            <div class="text-right" style="padding-right: 10px"><span class="text-muted">Знайдено запитів - </span> <span class="text-muted" data-bind= "text:Pager.TotalCount"> </span></div>
            <div class="panel-body paged-list-in-tab" style="padding-top: 0px">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list-group results-table" data-bind="foreach: Requests">
                            <div class="modal fade" id="assignWorkerModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-bind="with: AssignWorkerModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <h4 class="modal-title">
                                                <span>Надати персоні соціального робітника</span>
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            Чи впевнені Ви у тому, що <span class="control-label" data-bind="text: CustomerFullName"></span> потребує соціального робітника?
                                            <br/><br/>
                                            Якщо так, оберіть доступного робітника зі списку.
                                            <div class="form-group">
                                                <select class="form-control" style="width: 450px; max-width: 600px;" data-bind="value: WorkerId,
                                        options: Requests.Workers,
                                        optionsValue: 'Id' , optionsText: 'FullName' , optionsCaption: 'Оберіть соціального робітника'"></select>
                                            </div>
                                            <p>Додайте коментар</p>
                                            <div class="form-group">
                                                <textarea class="form-control" maxlength="500" data-bind="textInput: Answer" style="width: 450px; max-width: 600px;"></textarea>
                                            </div>

                                        </div>

                                        <div class="modal-footer">
                                            <div class="form-group text-right">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
                                                <button type="button" class="btn btn-primary" data-bind="click: SendRequest">Підтвердити</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="modal fade" id="rejectRequest" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-bind="with: RejectRequestModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <h4 class="modal-title">
                                                <span>Відхилити запит на необхідність догляду</span>
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            Чи впевнені Ви у тому, що <span class="control-label" data-bind="text: CustomerFullName"></span> не потребує соціального робітника?
                                            <br/><br/>
                                            Якщо так, додайте Ваше пояснення до цієї дії.
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" maxlength="500" data-bind="textInput: Answer" style="margin-left: 20px; width: 450px; max-width: 600px;"></textarea>
                                        </div>

                                        <div class="modal-footer">
                                            <div class="form-group text-right">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Відмінити</button>
                                                <button type="button" class="btn btn-primary" data-bind="click: SendRequest">Підтвердити</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <li class="list-group-item-lightgrey">
                                <div class="row " data-bind="style: { cursor: 'pointer' }">
                                    <div class="col-xs-12" style="border: 0">
                                        <div class="" style="border: 0">
                                            <div class="panel-heading body-lightgrey" data-bind="click: function(){ DetailsPanelExpanded(!DetailsPanelExpanded());}">
                                                <div class="row">
                                                    <div class="col-xs-1 text-left">
                                                        <span class="fa" data-bind="css:{ 'fa-angle-right' : !DetailsPanelExpanded(), 'fa-angle-down': DetailsPanelExpanded() }"></span>
                                                    </div>
                                                    <div class="col-xs-4 text-left">
                                                        <span style="padding-left: 15px;" data-bind="text: CustomerFullName"></span>
                                                    </div>
                                                    <div class="col-xs-4 text-center">
                                                        <span class="control-label">Створено:</span>&nbsp;<span data-bind="text: CreatedOnUtc"></span>
                                                    </div>
                                                    <div class="col-xs-3 text-right" style="padding-right: 27px">
                                                        <span data-bind="text: RequestStatus, attr: {class: GetCssStylesByStatus}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body body-lightgrey" data-bind="slideVisible: DetailsPanelExpanded()">
                                                <div class="row">
                                                    <div class="col-xs-10">
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <span class="control-label">Причина звернення:</span>&nbsp;
                                                            </div>
                                                            <div class="col-xs-8">
                                                                <span data-bind="text: Reason"></span>
                                                            </div>
                                                            <!--ko if:Answer()-->
                                                            <div class="col-xs-4">
                                                                <span class="control-label">Відповідь соціальної служби:</span>&nbsp;
                                                            </div>
                                                            <div class="col-xs-8">
                                                                <span data-bind="text: Answer"></span>
                                                            </div>
                                                            <!-- /ko -->
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-2">
                                                        
                                                        <div data-bind="visible: StatusId() != 1">
                                                            <div data-bind="visible: ReviewedOn()" class="text-right">

                                                                <span class="control-label">Розглянуто:</span><br/><span data-bind="text: ReviewedOn"></span>
                                                            </div>
                                                        </div>
                                                        
                                                        <div data-bind="visible: StatusId() == 1">
                                                            <div class="btn-group" id="actionButton">
                                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Розглянути <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    <li><a class="dropdown-item" href="#" data-bind="click: OpenApproveModal.bind(this, Id())">Затвердити запит</a></li>
                                                                    <li><a class="dropdown-item" href="#" data-bind="click: OpenRejectModal.bind(this, Id())">Відхилити запит</a></li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-2 col-xs-8 text-center" data-bind="with: Pager">
                        @Html.Partial("_Pager")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    @*Requests.Details = '@Html.Raw(Url.Action("CreateOrEditReference", "Reference"))';*@
    Requests.GetRequests = '@Html.Raw(Url.Action("GetFilteredRequests", "CareRequest"))';
    Requests.AssignUrl = '@Html.Raw(Url.Action("AssignWorkerToCustomer", "CareRequest"))';
    Requests.RejectUrl = '@Html.Raw(Url.Action("RejectCareRequest", "CareRequest"))';
    Requests.AssignWorkerToCustomerUrl = '@Html.Raw(Url.Action("AssignWorkerToCustomer", "CareRequest"))';
    Requests.Filter = @Html.Raw(Json.Encode(Model.Filter));

    Requests.GeneralErrorMessage = 'An error occured';
    Requests.Requests = @Html.Raw(Json.Encode(Model.Requests));
    Requests.Workers = @Html.Raw(Json.Encode(ViewBag.Workers));
    Requests.Pager = @Html.Raw(Json.Encode(Model.Pager));
    Requests.CareRequestStatuses =  @Html.Raw(Json.Encode(EnumHelpers.ToList<CareRequestStatuses>()));
    

    Requests.ContainerId = 'requestsList';


    $(document).ready(function() {
        Requests.Init();
    });

</script>