@using System.Activities.Statements
@model SocialCareProject.Areas.Customer.Models.Product.ProductDetailsModel

@{
    ViewBag.Title = "Деталі";
    Layout = "../Shared/_Layout.cshtml";
    @Scripts.Render("~/Scripts/app/customer/productDetails.js")
}

<div id="productDetails">
    <div class="container inner-container" data-bind="with: Details">
        <div class="card">
            <div class="row">
                <div class="col-xs-3" style="height: 200px; background: cadetblue">
                </div>
                <div class="col-xs-9">
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label class="control-label ">Назва</label>
                            <div>
                                <label>@Model.Name</label>
                                </div>
                        </div>
                        <div class="form-group col-xs-4">
                            <label class="control-label ">Опис</label>
                            <div>
                                <label>@Model.Description</label>
                            </div>
                        </div>
                       
                   
                        <div class="form-group col-xs-4">
                            <label class="control-label ">Виробник</label>
                            <div>
                                <label>@Model.Manufacturer</label>
                            </div>
                        </div>
                        <div class="form-group col-xs-4">
                            <label class="control-label ">Ціна</label>
                            <div>
                                <label>@Model.Price</label>
                                @*<input class="form-control datepicker" maxlength="60" data-bind="value:  DateOfBirth" />*@
                            </div>
                        </div>
                        
                        <div class="form-group col-xs-4">
                            <label class="control-label ">Категорія</label>
                            <div>
                                <label>@Model.Category</label>
                            </div>
                        </div>
                        <div class="form-group col-xs-4">
                            <label class="control-label ">Постачальник</label>
                            <div>
                                <label>@Model.Provider</label>
                            </div>
                        </div>
                        @if(!string.IsNullOrWhiteSpace(Model.Vendor)){ 
                        <div class="form-group col-xs-4">
                            <label class="control-label ">Фірма</label>
                            <div>
                                <label>@Model.Vendor</label>
                            </div>
                        </div>}

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    @*ProductDetails.Details = @Html.Raw(Json.Encode(Model));
    ProductDetails.ContainerId = 'productDetails';

    ProductDetails.GeneralErrorMessage = 'An error occured';
    ProductDetails.Init();

    $(document).ready(function () {
        ProductDetails.Init();
    });*@
</script>
