@{
    string title = ViewBag.Title;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Social Carer</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/administration_styles")
    @Scripts.Render("~/bundles/knockout")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/moment")

    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@

    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


</head>
<body class="body-lightgrey">
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">Social carer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='@Url.Action("Index", "CatalogueAdministration")'>
                        <i class="fa fa-cart-plus">
                        </i>
                        Каталог
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-shopping-basket">

                        </i>
                        Особи
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href='@Url.Action("Index", "People")'>Жителі</a>
                        <a class="dropdown-item" href='@Url.Action("Index", "Worker")'>Соціальні робітники</a>
                    </div>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href='@Url.Action("Index", "CareRequest")'>
                        <i class="fa fa-cart-plus">
                        </i>
                        Запити
                    </a>
                </li>

                @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-shopping-basket">

                            </i>
                            Заяви
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href='@Url.Action("Index", "CareRequest")'>Щодо необхідності догляду</a>
                            <a class="dropdown-item" href='@Url.Action("Index", "Offer")'>Щодо товарів та сервісів</a>
                        </div>
                    </li>*@

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user">
                        </i>
                        Персональні дані
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Мій профіль</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href='@Url.Action("Administration", "Home")'>Моя організація</a>
                    </div>
                </li>
            </ul>
            @*<ul class="navbar-nav ">

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-envelope-o">
                            <span class="badge badge-success">1</span>
                        </i>
                        Повідомлення
                    </a>
                </li>
            </ul>*@
            @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Пошук" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Пошук</button>
                </form>*@
            <ul class="navbar-nav mx-5">
                <li class="nav-item">
                    <a class="nav-link" href='@Url.Action("Logout", "Home", new{area=""})'>
                        <i class="fa fa-sign-out"></i>
                        Вихід
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="page-header">
        <div class="container">
            <h1 class="pull-left page-title">
                @title

            </h1>
            <div class="pull-right">@RenderSection("Buttons", false)</div>
            <div class="clearfix"></div>
            <div id="button-section" class="row">
                <div class="col-lg-12">
                    @RenderSection("Description", false)
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="card-body">
            @RenderBody()
        </div>
    </div>
    <footer>
        <p>&copy; Provided by Oleh Gerus</p>
    </footer>


</body>
</html>
