
@{
                /**/

                Layout = "../Shared/_Layout.cshtml";
                @Scripts.Render("~/Scripts/app/administration/socialWorkers.js")
                ViewBag.Title = "Cоціальні робітники";
}
<div id="workersList">
    <div class="container inner-container">
        <div class="panel body-lightgrey">
            <div class="panel-body paged-list-in-tab">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list-group results-table" data-bind="foreach: Workers">
                            <li class="list-group-item-lightgrey">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label class="control-label" data-bind="text: FullName"></label>
                                    </div>
                                    <div class="col-xs-3 ">
                                        <span data-bind="text: Email"></span>
                                        <br />
                                        <span data-bind="text: Phone"></span>
                                    </div>

                                    <div class="col-xs-3 ">
                                        <span data-bind="text: Status, attr: {class: GetCssStylesByStatus}"></span>
                                    </div>
                                    <div class="col-xs-3 text-center">
                                        <button type="button" data-bind="click:$root.Details.bind(this, WorkerId())" class="btn btn-primary">Деталі</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-2 col-xs-8 text-center" data-bind="with: Pager">
                        @Html.Partial("_Pager")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    @*Workers.Details = '@Html.Raw(Url.Action("CreateOrEditReference", "Reference"))';*@
    Workers.GetWorkers = '@Html.Raw(Url.Action("GetFilteredSocialWorkers", "Worker"))';
    Workers.GeneralErrorMessage = 'An error occured';
    Workers.Workers = @Html.Raw(Json.Encode(Model.Workers));
    Workers.Pager = @Html.Raw(Json.Encode(Model.Pager));
    
    Workers.ContainerId = 'workersList';


    $(document).ready(function() {
        Workers.Init();
    });

</script>